<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Recipe Roulette</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5 text-center">
  <h1>Welcome to Recipe Roulette</h1>
  <div class="card mt-3">
    <div class="card-body">
      <form action="<%= recipes_search_path %>" method="get">
        <input class="form-control" type="text" name="query" placeholder="What would you like to eat today? Search by letter: 'p', 'a', 'k'">
        <button type="submit" class="btn btn-primary mt-2">Search</button>
      </form>
      <%= link_to 'Surprice me!', recipes_random_path, class: "btn btn-danger mt-2" %>
    </div>
  </div>
</div>
